// $primary: #276fc2;
// $secondary: #e8d21d;
// $border-radius: 1px;

@import '../node_modules/bootstrap/scss/bootstrap';
.logo-argPro {
  width: 150px;
}

header {
  padding-top: 1%;
  padding-bottom: 1%;
}

perfilImg {
  max-height: 200px;
}
